.bike_search_properties {
  padding: clamp(10px, 1vw, 20px);
  font-size: 18px;
}

.bike_search_properties .column {
  margin: 15px;
}

.bike_search_properties .column * {
  padding: 5px 0;
}

.bike_search_properties h3 {
  font-weight: 900;
  font-size: 21px;
  padding: 10px 0;
}

@media (max-width: 860px) {
  .bike_search_properties {
    margin: 0 auto;
  }
  .bike_search_properties .order {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
