.bikes__page .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  padding: 10px 0;
}

.bikes__page .block .bike__page__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  height: clamp(150px, 30vw, 300px);
  padding: 20px 5%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.bikes__page .block .bike__page__block:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 3;
}

.bikes__page .block .bike__page__block:hover .block_title {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(184, 184, 184, 0.4)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(184, 184, 184, 0.4) 0%, rgba(255, 255, 255, 0) 50%);
}

.bikes__page .block .bike__page__block:hover .block_title p {
  opacity: 1;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
}

.bikes__page .block .bike__page__block.big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}

.bikes__page .block .bike__page__block img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

.bikes__page .block .bike__page__block .block_title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 50%);
}

.bikes__page .block .bike__page__block .block_title h3,
.bikes__page .block .bike__page__block .block_title p {
  color: #fff;
  background-color: transparent;
  position: absolute;
  left: 5vw;
  z-index: 3;
}

.bikes__page .block .bike__page__block .block_title h3 {
  top: 5%;
  font-size: clamp(15px, 4vw, 50px);
  font-weight: 900;
}

.bikes__page .block .bike__page__block .block_title p {
  top: 35%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translateY(4vh);
          transform: translateY(4vh);
}

@media (max-width: 400px) {
  .bikes__page .block .bike__page__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .bikes__page .block .bike__page__block.big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
