.BlockAdvantages {
    .subtitle {
        height: 100px;
        margin-top: 50px;
    }
    .inform_block {
        display: flex;
        flex-wrap: wrap;
        .block {
            flex: 0 1 50%;
            height: 70vh;
            .text {
                padding: 0 5vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3 {
                    font-size: 27px;
                    margin-bottom: 20px;
                    font-weight: 900;
                }
                p {
                    font-size: 16px;
                    line-height: 1.8;
                }
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
