.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subtitle h2 {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.subtitle span {
  position: relative;
}

.subtitle span::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: #ff6f2c;
  top: 50%;
  left: -250px;
}

.subtitle span a {
  color: #ff6f2c;
}
