.BikePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.BikePage .container {
  margin: 0 auto;
}

.BikePage .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  margin: 0 auto;
}

.BikePage .row .inform {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
}

.BikePage .row .inform .category {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 30px;
  color: #677a85;
  outline: 1px solid #677a85;
}

.BikePage .row .inform span {
  display: inline;
  margin: 2px 5px 2px 0;
  font-size: 16px;
}

.BikePage .row .inform .cost {
  color: #ff6f2c;
  font-size: 55px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
}

.BikePage .row .inform p {
  color: #677a85;
}

.BikePage .row .inform button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #677a85;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 10px 0;
  background-color: #fff;
  font-size: 16px;
}

.BikePage .row .inform button:hover, .BikePage .row .inform button.buy {
  border: none;
  color: #fff;
  background-color: #ff6f2c;
}

.BikePage .row .img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  min-width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.BikePage .row .img img {
  display: block;
  max-height: 500px;
  max-width: 100%;
}

.BikePage .description {
  background-color: #f3f3f3;
  width: 100%;
}

.BikePage .description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.BikePage .description .container .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.BikePage .description .container .desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.BikePage .description .container .desc p {
  line-height: 1.8;
  padding: 0 100px 20px 0;
}

.BikePage .description .container .desc h3 {
  font-size: 25px;
  font-weight: 900;
  padding: 20px 0;
}

.BikePage .description .container .desc .technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.BikePage .description .container .desc .technology img {
  width: 50px;
  margin-right: 20px;
}

.BikePage .description .container .desc .technology span {
  font-size: 22px;
  font-weight: 900;
  color: #54656e;
}

.BikePage .description .container .desc h4 {
  font-size: 22px;
  font-weight: 900;
}

.BikePage .description .container .desc .row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 20px 0;
}

.BikePage .description .container .desc .row .link {
  position: relative;
  margin-right: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.BikePage .description .container .desc .row .link:hover {
  -webkit-box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.5);
}

.BikePage .description .container .desc .row .link a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 150px;
}

.BikePage .description .container .desc .row .link span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  color: #eee;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
}

.BikePage .description .container .desc .feature {
  background-color: #fff;
  padding: 20px;
}

.BikePage .description .container .desc .feature .column {
  margin: 10px;
  width: 100px;
}

.BikePage .description .container .desc .feature .column img {
  width: 100px;
  height: 100px;
}

.BikePage .description .container .desc .feature .column .block {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
}

.BikePage .description .container .desc .feature .column .block .big_text {
  font-size: 25px;
}

@media (max-width: 600px) {
  .BikePage .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .BikePage .description .container .desc {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .BikePage .description .container .desc .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .BikePage .description .container .desc .row .link {
    margin: 10px;
  }
  .BikePage .description .container .desc p {
    padding: 0;
  }
}
