.bike_list {
    padding-left: 40px;
    margin-bottom: 10px;
    .block_sort {
        flex: 0 1 100%;
        display: flex;
        justify-content: space-between;
        transition: 0.5s ease;
        overflow: hidden;
        &.active {
            max-height: 200px;
        }
        span {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }
        .sort {
            display: flex;
            flex-direction: row;
            align-items: center;

            label {
                cursor: pointer;
                transition: 0.2s ease;
                margin: 0 10px;
                &:hover {
                    color: rgb(255, 111, 44);
                }
                input {
                    display: none;
                }
            }
        }
        .btn_sort {
            margin-left: 5px;
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                color: rgb(255, 111, 44);
            }
        }
    }
    .bike_items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -40px;
    }
}
@media (max-width: 1000px) {
    .bike_list {
        padding-left: 20px;
        .bike_items {
            margin: 0;
        }
    }
}
@media (max-width: 860px) {
    .bike_list {
        padding: 0;
        .block_sort {
            flex-direction: column;
            max-height: 0;
            background-color: rgb(247, 247, 247);
            padding: 0 10px;
            * {
                padding: 5px;
                font-weight: 900;
            }
            .sort {
                flex-direction: column;
                align-items: flex-start;
                label {
                    margin: 0;
                }
            }
        }
    }
}
