.Bikes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .container {
        margin: 0 auto 0 0;
    }
    .option {
        display: none;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px;
        span {
            transition: 0.3s ease;
            font-size: clamp(18px, 4vw, 25px);
            &.active {
                transform: rotate(180deg);
                color: rgb(255, 111, 44);
            }
        }
    }
    .row {
        overflow: hidden;

        .bike_search_properties {
            flex: 0 1 calc(20% - 40px);
            background-color: rgb(247, 247, 247);
            display: flex;
            flex-direction: column;
        }
        .bike_list {
            flex: 0 1 calc(80% - 40px);
        }
    }
}
@media (max-width: 860px) {
    .Bikes {
        .option {
            display: flex;
        }
        .row {
            flex-direction: column;
            .bike_search_properties {
                max-height: 0;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                transition: 0.9s ease;
                flex: 0 1 100%;
                overflow: hidden;
                padding: 0;
                &.active {
                    max-height: 800px;
                }
                .column {
                    flex: 1 1 100%;
                    max-width: calc(50% - 30px);
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .Bikes .row .bike_search_properties .column {
        max-width: 100%;
    }
}
