.BtnBikeCategory {
    display: inline-block;
    outline: 1px solid rgb(113, 135, 146);
    color: rgb(113, 135, 146);
    padding: clamp(5px, 2vw, 10px) clamp(20px, 5vw, 40px);
    border-radius: 20px;
    transition: 0.5s ease;
    margin: 10px;
    font-size: clamp(12px, 5vw, 20px);
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    input {
        display: none;
    }
    &.active,
    &:hover {
        color: #fff;
        outline: none;
        background-color: rgb(255, 111, 44);
    }
}
