.BtnBikeCategory {
  display: inline-block;
  outline: 1px solid #718792;
  color: #718792;
  padding: clamp(5px, 2vw, 10px) clamp(20px, 5vw, 40px);
  border-radius: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  margin: 10px;
  font-size: clamp(12px, 5vw, 20px);
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.BtnBikeCategory input {
  display: none;
}

.BtnBikeCategory.active, .BtnBikeCategory:hover {
  color: #fff;
  outline: none;
  background-color: #ff6f2c;
}
